<launch>
  <arg name="namespace" default="firefly" />
  <group ns="$(arg namespace)">
    <node name="motor_speed_controller" pkg="motor_speed_controller" type="mav_pid_attitude_controller_node" respawn="true" clear_params="true" output="screen" >
      <remap from="odometry" to="ground_truth/odometry" />
      <rosparam file="$(find motor_speed_controller)/cfg/PID_attitude.yaml" />
      <param name="verbose" value="true" />
    </node>
  </group>
</launch>
